{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script src="{% static 'env.js' %}" defer></script>
    <script src="{% static 'scripts.js' %}" defer></script>
    <title>Chatbot</title>
</head>
<body>
    <div class="logo-container">
        <img src="https://cdn.discordapp.com/attachments/807707281961123883/1095056498058600519/logo_navy.png" alt="Logo" class="logo" />
        <!--<img src="https://photos.cdn-moneysmart.com/travel_insurance/uploads/products/images/listing_image_url_2020-11-02_2.%20HLAS%20Logo%20High%20Res%20Transparent%20BG%20(1).png" alt="Logo" class="logo" />-->
    </div>
    <input type="hidden" id="agent_namespace" value="{{ agent.namespace }}">
    <input type="hidden" id="conversation_history" data-conversation-history="{{ conversation_history|safe }}">
    <div class="chat-container">
        <div class="messages" id="messages"></div>
        <div id="typing" class="typing hidden">
          Agent is typing
          <span>.</span><span>.</span><span>.</span>
        </div>
        <div class="input-container">
            <input type="text" id="user-input" class="chat-input" placeholder="Type your message...">
            <button id="send-btn">Send</button>
        </div>
    </div>
    <button id="reset-session-btn">Reset Session</button>
    <a href="{% url 'upload_page' agent.namespace %}">Upload into Knowledge Base</a>
    <a href="{% url 'manage_agent' agent.namespace%}">Back to Agent Page</a>
</body>
</html>
